In [2]:
import pandas as pd
import plotly
plotly.tools.set_credentials_file(username='srjit', api_key='9A7diUsRYAAJDXtvl5Fw')

In [6]:
data = pd.read_csv("/Users/hong/code/data-visualizations/nyse/data/prices.csv")

In [7]:
data.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [10]:
len(data)

851264

In [9]:
len(data.symbol.unique())

501

Qn 4.


      Key Columns:
          symbol
           
      Value Columns:
          open, close, low, high, volume
          
          
          
## TODO - Why are they called that?