In [7]:
%matplotlib inline

In [10]:
import pandas as pd
import dateutil

import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv("../data/NBA_player_of_the_week.csv")

In [5]:
data.head()

,Active season,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Real_value
0,0,Micheal Ray Richardson,New Jersey Nets,NaN,"Apr 14, 1985",PG,6-5,189,29,1978,6,1984-1985,1985,1.0
1,0,Derek Smith,Los Angeles Clippers,NaN,"Apr 7, 1985",SG,6-6,205,23,1982,2,1984-1985,1985,1.0
2,0,Calvin Natt,Denver Nuggets,NaN,"Apr 1, 1985",F,6-6,220,28,1979,5,1984-1985,1985,1.0
3,0,Kareem Abdul-Jabbar,Los Angeles Lakers,NaN,"Mar 24, 1985",C,7-2,225,37,1969,15,1984-1985,1985,1.0
4,0,Larry Bird,Boston Celtics,NaN,"Mar 17, 1985",SF,6-9,220,28,1978,5,1984-1985,1985,1.0

In [17]:
data["height"] = pd.to_numeric(data["Height"].apply(lambda x : x.replace("-",".")))

In [18]:
data['Season short'].unique()


#average height for each position?
data.groupby("Position")['height'].mean()

Position
C      6.796415
F      6.719213
F-C    6.900000
FC     6.308313
G      6.268852
G-F    6.666667
GF     6.751064
PF     6.568227
PG     6.215333
SF     6.757983
SG     6.546951
Name: height, dtype: float64